<div class="block-content">
{{ form_start(form, {'action': path('filter-products')}) }}
    <fieldset class="fieldset filter">
        {% if(filterValues is defined) %}

<div class="field">
    {{ form_row(form.season,
    {'value' : filterValues.season}
    ) }}
</div>
<div class="field">
    {{ form_row(form.color,

    {'value' : filterValues.color}

    ) }}
</div>
<div class="field">
    {{ form_row(form.price,

    {'value' : filterValues.price}

    ) }}
</div>
<div class="field">
    {{ form_row(form.user,

    {'value' : filterValues['grower']}

    ) }}
</div>
<div class="field">
    {{ form_row(form.vaselife,

    {'value' : filterValues.vaselife}

    ) }}
</div>
<div class="field">
    {{ form_row(form.stemLength,

    {'value' : filterValues.stemLength}

    ) }}
</div>
<div class="field">
    {{ form_row(form.headsize,

    {'value' : filterValues.headsize}

    ) }}
</div>
            {% else %}
                <div class="field">
                    {{ form_row(form.season) }}
                </div>
                <div class="field">
                    {{ form_row(form.color) }}
                </div>
                <div class="field">
                    {{ form_row(form.price) }}
                </div>
                <div class="field">
                    {{ form_row(form.user) }}
                </div>
                <div class="field">
                    {{ form_row(form.vaselife) }}
                </div>
                <div class="field">
                    {{ form_row(form.stemLength) }}
                </div>
                <div class="field">
                    {{ form_row(form.headsize) }}
                </div>
        {% endif %}
<div class="field">
<button class="action primary" type="submit">Filter
</button>
</div>
    </fieldset>
{{ form_end(form) }}
</div>