
<div class="my-acount">
    <strong class="label" style="color:black;"><span>My Account<i
                    class="fa fa-angle-down">&nbsp;</i></span></strong>
    <ul class="header links">
        <li><a href="#">My Account</a></li>

        <li class="authorization-link" data-label="or">
            <a href="{{ path('security_logout') }}">
                Logout </a>
        </li>
    </ul>
</div>
<div class="my-acount">
    <strong class="label" style="color:black;"><span>Product Management<i
                    class="fa fa-angle-down">&nbsp;</i></span></strong>
    <ul class="header links">
        <li><a href="{{ path('my_assigned_product_list') }}">Assigned Products</a></li>
        <li><a href="{{ path('my_assigned_product_list') }}">Assignment Requests</a>
        </li>
    </ul>
</div>
<div class="my-acount">
    <strong class="label" style="color:black;"><span>Order Management<i
                    class="fa fa-angle-down">&nbsp;</i></span></strong>
    <ul class="header links">

        <li><a href="{{ path('agent_order_list') }}">Received Orders</a></li>
        <li><a href="{{ path('my_agent_order_list') }}">My Orders</a></li>
    </ul>
</div>
